@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "FranklinGothic-Heavy";
  src: url("/assets/font/FranklinGothic-Heavy.otf");
}

* {
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1c2430 !important;
}

.font-franklin {
  font-family: "FranklinGothic-Heavy", sans-serif;
}

.media-icon {
  width: 24px;
}

.max-w-1920 {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 16px !important;
}

.pt-31 {
  padding-top: 31px !important;
}

.custom-pt-36 {
  padding-top: 36px !important;
}

.custom-pt-23 {
  padding-top: 23px !important;
}

.story-image {
  margin-top: 56px !important;
  height: 357px !important;
}

.hero-button {
  margin-top: 43px !important;
}

.hero-heading {
  padding-top: 11px !important;
}

.toggle-button {
  width: 30px;
  height: 2px;
  background-color: white;
  transition: all 300ms linear;
  transform-origin: center;
}

.hero-heading-border {
  border-top: 1px solid #3586ff;
  width: 164px !important;
}

.cross-icon-one {
  transform: translateY(4px) rotate(50deg);
}

.cross-icon-two {
  transform: translateY(-5px) rotate(-50deg);
}

.nav-parent {
  max-width: 1920px;
  margin: 0 auto;
}

.nav-logo {
  top: 0;
  left: 0;
}

.nav-logo img {
  max-width: 371px;
  height: 81px;
}

.nav-link-parent {
  gap: 32px;
  padding-top: 31px !important;
}

.nav-link {
  font-size: 16px;
  line-height: 130%;
  position: relative;
  transition: all 300ms ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transition: width 300ms ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.max-w-lg {
  max-width: 938px !important;
}

.max-w-extra {
  max-width: 912px !important;
}

.hero-max-width {
  max-width: 1920px;
}

.hero-padding {
  padding: 195px 0px 140px 0px !important;
}

.text-custom-xs {
  font-size: 14px !important;
}

.custom-blue {
  color: #3586ff !important;
}

.header-icon-gap{
  gap: 18px !important;
}

.custom-light-blue {
  color: #d4e5ff !important;
}

.custom-light-sky {
  background-color: #245aab !important;
  transition: transform 0.3s ease !important;
}

.custom-light-sky:hover {
  transform: scale(1.1) !important;
}

.team-custom-border {
  border: 1px solid #3586ff !important;
  width: 164px;
  margin-top: 13px !important;
}

.hero-cat-image {
  height: 400px;
  width: 400px;
}

.max-w-max {
  max-width: max-content !important;
}

.px-sm {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.footer-parent {
  padding: 46px 16px 47px 16px !important;
  background-color: #245aab !important;
}

.icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.twitter-icon {
  width: 20px !important;
  height: 20px !important;
}

.footer-twitter-icon,
.footer-discord-icon {
  width: 32px !important;
  height: 32px !important;
}

.footer-heading{
   font-size: 21.64px !important;
   line-height: 24.54px !important;
}

@media (max-width: 767.98px) {
  .nav-logo img {
    width: 270px;
    height: 70px;
  }

  .nav-link-parent {
    gap: 20px;
    background-color: #245aab !important;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    transition: all 300ms linear;
  }
}

@media (min-width: 770px) {
  .pt-md {
    padding-top: 29px !important;
  }

  .max-w-large {
    max-width: 502px !important;
  }

  .size-lg {
    height: 200px;
    width: 140px;
  }
}

@media (min-width: 1025px) {
  .text-lg-5xl {
    font-size: 64px !important;
    line-height: 72px !important;
  }

  .pt-lg-xs {
    padding-top: 11px !important;
  }

  .hero-cat-image {
    height: 557px;
    width: 557px;
  }

  .size-lg {
    height: 280px;
    width: 211px;
  }

  .slider-image-size {
    height: 320px;
    width: 320px;
  }

  .text-3xl {
    font-size: 43px;
    line-height: 48.75px;
  }
}

@media (max-width: 639.99px) {
  .text-xs {
    font-size: 14px !important;
  }

  .pt-md {
    padding-top: 8px !important;
  }

  .team-custom-border {
    width: 80px;
  }

  .slider-image-size {
    height: 130px;
    width: 130px;
  }

  .story-image {
    height: 200px !important;
  }

  .footer-lights {
    height: 50px !important;
    width: 100px !important;
  }
}

@media (max-width: 849.99px) {
  .display-none {
    display: none;
  }

  .hero-padding {
    padding: 80px 0px 48px 0px !important;
  }

  .slider-image-size {
    height: 250px;
    width: 250px;
  }

  .footer-parent {
    padding: 48px 16px 48px 16px !important;
  }

  .footer-lights {
    height: 100px !important;
    width: 300px !important;
  }
}

@media (max-width: 1025.98px) {
  .hero-button {
    margin-top: 24px !important;
  }

  .story-image {
    margin-top: 56px !important;
    max-height: 340px !important;
  }

  .custom-heading-font {
    font-size: 30px !important;
  }
  .hero-main-heading {
    font-size: 48px !important;
  }
}

@media (max-width: 769.99px) {
  .pt-md {
    padding-top: 16px !important;
  }

  .team-custom-border {
    margin-top: 0px !important;
  }

  .custom-pt-36 {
    padding-top: 24px !important;
  }

  .custom-pt-23 {
    padding-top: 16px !important;
  }

  .story-image {
    margin-top: 48px !important;
  }

  .slider-image-size {
    height: 180px;
    width: 180px;
  }

  .hero-main-heading {
    font-size: 36px !important;
  }

  .hero-heading-border {
    width: 100px !important;
  }
}
